@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('https://github.com/jkpulido/recursos/raw/main/squarefootcolumbus/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('https://github.com/jkpulido/recursos/raw/main/squarefootcolumbus/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

